<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/styles/styles.css"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div id="title">
        <div id="logo">
            <h1>Magic 8-Ball</h1>
        </div>
    <div id="ballpic">
        <img src="https://png.pngtree.com/png-clipart/20230918/original/pngtree-8-ball-object-picture-image_13054221.png" width="690px"
    </div>

    <div id="questioning">
        <h1>Ask me a question</h1><br>
    </div>

    <form action="{{response}}" method = "POST">

        <input required type="text" id="question" name="question"><br><br>
        <input type="submit" id="submit" name="submit"><br><br>       
    </form>
    <form>

    </form>
    
</body>
</html>