#result{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    color:white;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

#heart{
    display:fixed;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}

#8ball{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}